{% extends 'base.html.twig' %}

{# @var location \App\Entity\Location #}
{# @var measurement \App\Entity\Measurement #}

{% block title %}Weather in {{ location.city }}, {{ location.country }}{% endblock %}

{% block body %}
    <main>
        <h1>Weather in {{ location.city }}, {{ location.country }}</h1>

        <ul>
            {% for measurement in measurements %}
                <li>{{ measurement.date|date('d.m.Y') }}: {{ measurement.celsius }}&deg;C</li>
            {% else %}
                <li>No weather data available.</li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
